[submodule "server"]
	path = server
	url = https://github.com/kakomimasu/server/tree/v1.0.0-beta.0

[submodule "client-deno"]
	path = client-deno
	url = https://github.com/kakomimasu/client-deno/tree/v1.0.0-beta.0