html {
  height: 100%;
}

body {
  height: 100%;
  background: rgb(240, 240, 240);
}

.sidebar {
  float: left;
  width: 300px;
  display: flex;
  flex-flow: column;
  margin: 10px;
}

.sidebar > div {
  border: 1px solid black;
  padding: 10px;
}

.editor {
  height: 100%;
}

.CodeMirror {
  font-family: Consolas, 'Courier New', monospace;
  font-size: 20px;
  height: 100%;
}
